# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env

# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build directories
frontend/dist/
frontend/build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Project specific
backend/static/audio/*
!backend/static/audio/.gitkeep
backend/models/*
!backend/models/.gitkeep